#social ul {
    flex-direction: row;
    gap: 15px;
}

#social ul img {
    width: 26px;
    height: 26px;
    opacity: 0.5;
}

#social img:hover {
    opacity: 1;
}

@media (min-width: 700px) {

    #social ul img {
        width: 20px;
        height: 20px;
        opacity: 0.5;
    }
}