* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: white;
    box-sizing: border-box;
    box-sizing: content-box;
    list-style: none;
}

:root {
    --main-color: #8fdca7;
    --main-hover-color: #a0f2ba;
    --minor-color: #dbbbef;
    --social-color: white;
    --pix-check-color: #8fdca7;
}

.flex {
    display: flex;
}

button,
a {
    cursor: pointer;
}

body {
    background: url(./assets/bg-image.svg) no-repeat center;
    min-height: 100vh;
    /* display: flex; */
    flex-direction: column;
    place-content: center;
    transition: none;
}

#container {
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    margin: auto;
    width: 360px;
    padding: 30px;
    border-radius: 25px;
    /* max-height: 747px; */
}

#main-content {
    flex-direction: column;
    align-items: center;
    gap: 23px;
}

#main-content ul {
    flex-direction: column;
    align-items: center;
    gap: 23px;
    padding: 0px 36 36px;
}

footer {
    margin-top: 50px;
    display: flex;
}

footer span {
    background-color: rgba(255, 255, 255, 0.039);
    border-radius: 99px;
    padding: 5px 15px;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.357);
}

@keyframes fadeIn {
    0% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0;
    }

    100% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@media (min-width: 700px) {

    * {
        transition: 0.5s;
        cursor: url('/main-cursor.svg'), auto;
    }

    body {
        background: url(bg-image.svg) repeat-y center;
        min-height: 100vh;
        transition: none;
    }

    button,
    a {
        cursor: url('/main-cursor.svg'), auto;
    }

    #container {
        padding: 5vh 1%;
        transition: none;
        background-color: rgba(255, 255, 255, 0.023);
        max-height: 767px;
        padding: 10px 20px 30px 20px;
    }

    footer {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    footer span {
        transition: 0.5s;
    }

    footer span:hover {
        color: rgba(255, 255, 255, 0.665);
        transition: 0.5s;
    }
}