#social ul {
    flex-direction: row;
    gap: 15px;
}

#social img {
    width: 28px;
    height: 28px;
    opacity: 0.5;
}

#social img:hover {
    opacity: 1;
}

@media (min-width: 700px) {
    #social img {
        width: 20px;
        height: 20px;
    }
}